<%- include("header") -%>
<div class="container">
  <div class="box one" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box two">


    <% newListItems.forEach(function(item){ %>

      <form  action="/delete" method="post">

      <div class="item">
        <input type="checkbox" name ="checkbox" value = "<%=item._id%>" onChange="this.form.submit()">
        <p><%=  item.name  %></p>
        <input type="hidden" name="listName" value="<%=listTitle %>" >
      </div>

    </form>

      <% }) %>



      <form class="item" action="/list" method="post">
        <input class="inputClass" type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button type="submit" name="list" value="<%=listTitle%>">+</button>
      </form>

      <form class="logout-form" action="/logout" method="post">
        <button class="btn" type="submit">LogOut</button>
      </form>
  </div>
</div>

<%- include("footer") -%>

